* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: black 1px solid; */
    color: #FFFFFF;
}

body {
    font-family: JejuGothic, sans-serif;
    background-color: #009577;

}

 h1,
 h2,
 h3,
 h4 {
   background-color: #fff;
   padding: 30px;
   border-radius: 25px;
   color: #df9170;
   margin-top: 30px;
   margin-bottom: 30px;
 }

button {


   background-color: #cf5d49;
   color: #fff;
   display: inline-block;
   padding: 10px 15px;
   border-radius: 15px;
 }

 .button:hover {
   background-color: #fff;
   color: #cf5d49;
 }

ul{
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  font-size: 1.5rem;
  list-style: none;
  text-decoration: underline;
}
.container{
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}